h1 {
  font-size: 50px;
  text-align: center;
  color: #000000;
  text-decoration: underline}
p {
  text-align: center;
  font-size: 25px;}
.first {
  display: flex;
  justify-content: center;
  font-size: 50px;}
.second {
  display: flex;
  justify-content: center;
  font-size: 50px;}
.third {
  display: flex;
  justify-content: center;
  font-size: 50px;}
#container {
  background: #91BFFF;
  padding:1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%}
body {
  background-image: url("https://wallpapercave.com/wp/wp3208018.jpg");}
