h1 {
  text-align: center;
  color: #000000;
  text-decoration: underline;}
p {
  text-align: center;}
.first {
  display: flex;
  justify-content: center;}
.second {
  display: flex;
  justify-content: center;}
.third {
  display: flex;
  justify-content: center;}
#container {
  background: #91BFFF;
  width:800px;
  padding:1em;}
body {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/256/295/816/makoto-shinkai-anime-wallpaper-preview.jpg");}
